.direction-determinants {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;

  &-mission, &-vision, &-values {
    h2 {
      font-size: $title-size;
      text-decoration: underline;
      // text-underline-position: under;
      // border-bottom-width: 2px;
      // border-bottom-style: solid;
    }

    p, ul {
      font-size:  $body-size;
    }

  }
}
