.direction-determinants {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;

  &-mission, &-vision, &-values {
    img {
      height: 60px;
      width: 60px;
    }

    h2 {
      font-size: $title-size;
      text-decoration: underline;
      // text-underline-position: under;
      // border-bottom-width: 2px;
      // border-bottom-style: solid;
    }

    p, ul {
      font-size:  $body-size;

      li {
        list-style-type: none;
      }
    }

  }
}


@include windowSize($TabletPortrait){
  .direction-determinants {
    flex-direction: row;
    justify-content: space-between;

    &-mission, &-vision, &-values {
      margin: 0 10px;
      padding: 0 20px;
      flex: 1;
    }
  }
}
