body {
  margin: 0;
  padding: 0;
}

.page-body {
  margin-top: 80px 0 0 0;
}

.page-footer {
  margin: 0;
}

@import "variables";
@import "header";
@import "about";
@import "aboutModal";
@import "directionDeterminants";
@import "activities";
@import "footer";
