$title-size: 22px;
$body-size: 20px;
$primary-font:  Helvetica, sans-serif;
// $primary-body-font:

$primary-white-color: #fff;
$primary-black-color: #000;
$primary-green-color: #069706;
$primary-red-color: #ce1d06;
